
html,
body {
    height: 100%;
    margin: 0;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container.py-5 {
    flex: 1;
    width: 100%;
}

.badge {
    font-weight: 600;
    letter-spacing: 0.3px;
}

/* Table */
.table img {
    transition: transform 0.2s;
}

.table tr:hover img {
    transform: scale(1.1);
}

.nav-link.active {
    background-color: transparent !important;
    border-bottom: 3px solid #0d6efd !important;
    color: #0d6efd !important;
}

.nav-link {
    color: #6c757d;
    border: none !important;
}

.nav-link:hover {
    color: #0d6efd;
}

.pagination-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}