version: '3.8'

services:
  web:
    build: .
    expose:
      - "5000"
    environment:
      - FLASK_DEBUG=1
    volumes:
      - .:/app

  nginx:
    image: nginx:latest
    ports: "80:5000"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web